/* Root styles */

:root {
  --background-green: #33aa44;
  --lime-green: #87ff44;
  --dark-green: #053311;



  font-family: Helvetica, sans-serif;
}



/* BODY */

body {
  background-color: var(--background-green);
  margin: 0;
}


/* PARALLAX */

.parallax {
  perspective: 1px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_layer--background3 {
  transform: translateZ(-3px) scale(4.1);
}
.parallax_layer--background2 {
  transform: translateZ(-2px) scale(3.1);
}
.parallax_layer--background {
  transform: translateZ(-1px) scale(2);
}
.parallax_layer--foreground {
  transform: translateZ(0px) scale(1);
}
.parallax_layer--navigation {
  transform: translateZ(-7.5px) scale(9.5);
}

/* BANNER / HEADER AREA */

#banner-image1 {
  width: 100%;
  position: absolute;
}
#banner-image2 {
  width: 100%;
  position: absolute;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 85vh;
}

#title {
  transform: scale(2.8);
  color: #ffffff;

}

/* NAVIGATION */

.navigation {
  display: grid;
  grid-template-columns: 1fr minmax(50px,100px) 83%;
  margin-top: 75vh;
}

.navigation > * {
  grid-column: 2/-2;
}

button {
  background-color: var(--lime-green);
  height:3em;
  width: 100%;
  border: 1px solid black;
  border-radius: 1px;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  font-size: 18px;
}

button:hover {
  background-color: var(--dark-green);
  color: white;
}


/* DESCRIPTION */

.main-content {
  display: grid;
  grid-template-columns: 1fr 10px minmax(650px, 320px) 10px 1fr;

  margin-top: 200%;
  margin-bottom: 130em;
}

.main-content > * {
  grid-column: 3/-3;
  text-align: justify;
  padding: .7em;
  margin-bottom: 8em;
}

#description {
  font-size: 2.5em;
  line-height: 1.2;

}

.contact-info {
  font-size: 2em;
}

#webdesigntag {
  position: absolute;
  top: 166vh;
  font-size: 8px;
  display: flex;
  justify-content: space-between;
}
