/* Root styles */

:root {
  --background-green: #33aa44;

}



/* BODY */

body {
  background-color: var(--background-green);
  margin: 0;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_layer--background {
  transform: translateZ(-1px) scale(2);
}
.parallax_layer--0 {
  transform: translateZ(0px);
}
.parallax_layer--foreground {
  transform: translateZ(2px) scale(-1);
}
